* {box-sizing: border-box;font-family: 'DM Sans', sans-serif;
  transition: 0.3s;
  scroll-behavior: smooth;}
ul {list-style-type: none;}
body {margin: 0px;}
#churchLogo{
    width: 25px;
    margin-right: 10px;
}

/* name css */
.name {
    display: flex;
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;

}


.TopOptions {
    display: flex;
    margin-top: 75px;
}


.TopBar {
    position: absolute;
    top: 8px;
    right: 16px;
}

.TopBar ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 40px;
    margin-top: 30px;
}

.TopBar ul li {
    list-style: none;
}

.TopBar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.TopBar a:hover {
    font-weight: bolder;
    font-size: 30px;
    animation: ease-in-out;
    /* color: #3498DB; */
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #3498DB;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:20px;
  color: #777;
  height: 4rem;
}

.days li .active {
  padding: 7px;
  /* background: #1abc9c; */
  border-radius: 20px;
  border: 1px solid #3498DB;
  color: #3498DB !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}