@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* background-image: url(img/crousel/wallpaperflare.com_wallpaper.jpg); */
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.mainbox {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: red;
    height: 100vh;
    background-image: url(img/crousel/wallpaperflare.com_wallpaper.jpg);
}

.form {

    height: 58vh;
    width: 107vh;
    align-items: center;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 22vh;
    /* border: 2px solid beige; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.850);
    background-blend-mode: multiply;

}


.para {
    font-weight: 700;
}

.form input {
    height: 10px;
    width: 33vh;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: black;
    border: 1px solid gray;
}



#submitBtn {
    width: 13vh;
    height: 30px;
    border-radius: 25px;
    background-color: coral;
    border-color: coral;
    border-style: none;
    font-weight: 300;
    margin: 20px 10px;
    transition: all 0.4s;
}

#cancelbtn {
    width: 13vh;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(150, 147, 146);
    border-color: coral;
    border-style: none;
    font-weight: 300;
    margin: 5px;
    transition: all 0.4s;
}

.ankertext {
    text-decoration: none;
    color: black;
}


/* media queries */
@media screen and (max-width:1140px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width:700px) {
    .mainbox {
        display: flex;
        position: fixed;
        width: 100%;
        background-color: red;
        height: 100vh;
        background-image: url(img/crousel/wallpaperflare.com_wallpaper.jpg);
    }

    .form {

        height: 55vh;
        width: 96vh;
        align-items: center;
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        top: 22vh;
        /* border: 2px solid beige; */
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.850);
        background-blend-mode: multiply;

    }

    .form input {
        height: 10px;
        width: 34vh;
        border: none;
        border-radius: 5px;
        padding: 12px;
        color: black;
        border: 1px solid gray;
    }

    .para {
        font-size: small;
        padding: 20px;
    }

    #submitBtn {
        width: 15vh;
        height: 30px;
        border-radius: 25px;
        background-color: coral;
        border-color: coral;
        border-style: none;
        font-weight: 300;
        margin: 20px 10px;
        transition: all 0.4s;
    }

    #cancelbtn {
        width: 15vh;
        height: 30px;
        border-radius: 25px;
        background-color: rgb(150, 147, 146);
        border-color: coral;
        border-style: none;
        font-weight: 300;
        margin: 5px;
        transition: all 0.4s;
    }

}

@media screen and (max-width:510px) {
    .form {

        height: 120vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px auto;
        top: -20vh;
        border: none;
        border-radius: 0px;
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: multiply;
    }

    .form input {

        height: 7px;
        width: 32vh;
        border: none;
        border-radius: 5px;
        padding: 12px;
        color: black;
        border: 1px solid gray;
    }



    #submitBtn {
        width: 15vh;
        height: 30px;
        border-radius: 25px;
        background-color: coral;
        border-color: coral;
        border-style: none;
        font-weight: 300;
        margin: 30px 10px;
        transition: all 0.4s;
    }

    #cancelbtn {
        width: 15vh;
        height: 30px;
        border-radius: 25px;
        background-color: rgb(150, 147, 146);
        border-color: coral;
        border-style: none;
        font-weight: 300;
        margin: 5px;
        transition: all 0.4s;
    }
}