#churchLogo {
    width: 25px;
    margin-right: 10px;
}

/* name css */
.name {
    display: flex;
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;
}

.TopOptions {
    display: flex;
    margin-top: 75px;

}


.TopBar {
    position: absolute;
    top: 8px;
    right: 16px;

}

.TopBar ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 40px;
    margin-top: 30px;
}

.TopBar ul li {
    list-style: none;
}

.TopBar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.TopBar a:hover {
    font-weight: bolder;
    font-size: 30px;
    animation: ease-in-out;
    /* color: #3498DB; */
}



.box{
    display:flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80vmin;
    display: inline-flex;
    border: 1px solid black;
    height: 5rem;

}