@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Inter", sans-serif;
  transition: 0.3s;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.addbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}


.btn2{
  display: flex;
  position: relative;
  /* left: 50px; */
  float: right;
  right: 40px;
  top: 20px;
}


.addbtn {
  border-radius: 10px;
}

body {
  margin: 0;
  /* background-image: url(img/profilebg2.jpg); */
  background-repeat: repeat;
  background-size: cover;
  background-image: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1);
}


.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 45px;
  /* margin-right: 5rem;  */
  border-radius: 15px;
  padding-left: 3rem;
  /* height: 100vh; */
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


.txtboxes{
  margin-top: 2rem;
  text-align: start;
  margin-bottom:2rem;
}

.txtboxes p{
  margin-bottom: 5px;
  font-weight:bold;
}

.txtboxes a{
  font-size:14px;
  text-decoration:none;
  text-align:right;
  font-weight:bold;
}

#password{
  height:40px;
  width:300px;
  border:none;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  font-size:13px;
  padding-left: 5px;
}


#email{
  height:40px;
  width:300px;
  border:none;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
  border-radius: 5px;
  font-size:13px;
  padding-left: 5px;
}


.details {
  /* font-weight: bold; */
  margin-top: 1.5rem;
  text-align: center;
  font-size: 15px;
  color: white;
}

#ep2{
  color: white;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
}

.signuplink{
  margin-top:1.7rem;
}

.signuplink a{
  font-size: 15px;
  color:aqua;
  text-decoration:none;
}

.signuplink span{
  color:white;
  font-size: 15px;
}




@media screen and (max-width:690px){
  .w-100 {
    height: 80vh;
}

.Sub-menu ul li a{
  font-size: 25px;
}
}


@media screen and (min-width:1040px) and (max-width:990px){
  #email{
    height: 40px;
    width: 300px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 5px;
  }
}

@media screen and (min-width:300px) and (max-width:415px){

  .center-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .btn2{
    top: 70vh;
    right: 20vh;
  }
  

  #email {
    height: 30px;
    width: 240px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 5px;
}


#password{
  height: 30px;
  width: 240px;
}

.submitBtn{
  width: 24px;
}


.btn .btn-primary{
  width: 20%;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 45px;
  /* margin-right: 5rem; */
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  /* width: 400px; */
  backdrop-filter: none;
  background: none;
  box-shadow: none;
  /* height: 100vh; */
  
}


}

@media screen and (min-width:200px) and (max-width:300px){
  
  #email {
    height: 25px;
    width: 180px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 5px;
}


.center-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 45px;
  /* margin-right: 5rem; */
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  /* width: 400px; */
  backdrop-filter: none;
  background: none;
  box-shadow: none;
  
}



#password{
  height: 25px;
  width: 180px;
}

.submitBtn{
  width: 24px;
}


.btn .btn-primary{
  width: 20%;
}


}