@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
    scroll-behavior: smooth;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* body css */
body {
    margin: 0;
}

/* name css */
.name {
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;

}



/* topbar css */

/* .TopBar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 250px;
}

.TopBar ul li {
    list-style: none;
    font-size: 20px;
}

.TopBar a {
    float: left;
    text-align: center;
    margin: 0;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    text-transform: uppercase;
}

.TopBar a:hover {
    font-weight: bolder;
    font-size: 20px;
    animation: ease-in-out;
    background-color: #ddd;
    color: #3498DB;
} */


.TopOptions{
    display: flex;
    margin-top: 75px;
}


.TopBar {
    position: absolute;
    top: 8px;
    right: 16px;
}

.TopBar ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 40px;
    margin-top: 30px;
}

.TopBar ul li {
    list-style: none;
}

.TopBar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.addbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.addbtn{
    border-radius: 10px;

}


/* CSS */
.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

/* divider css */

#divider {
    height: 4px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(163, 163, 163);
}

/* pictures css */
.Pictures {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.Pictures img {
    width: 100%;
}

/* load  more button css */
.loadMore {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.notify {
    text-align: center;
    border-color: #3498DB;
    color: #3498DB;
    height: 50px;
    width: 150px;
    font-size: 15px;
}

.notify:hover {
    font-weight: bold;
    border-color: #3498DB;
    color: white;
    background-color: #3498DB;
    width: 170px;
    height: 50px;
    font-size: 18px;
}