@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  scroll-behavior: smooth;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.addbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.addbtn {
  border-radius: 10px;

}

body {
  margin: 0;
  background-image: url(img/profilebg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* name css */
#churchLogo {
  width: 25px;
  margin-right: 10px;
}

/* name css */
.name {
  display: flex;
  position: absolute;
  /* top: 25px; */
  left: 40px;
  font-size: 30px;
  font-weight: bold;
  align-items: normal;

}


.TopOptions {
  display: flex;
  height: 80px;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


.TopBar {
  position: absolute;
  /* top: 8px; */
  right: 16px;
  height: 20px;

}

.TopBar ul {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  margin-right: 40px;
  /* margin-top: 30px; */
}

.TopBar ul li {
  list-style: none;
}

.TopBar a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  font-weight: 500;
}

.TopBar a:hover {
  /* font-weight: bolder; */
  /* font-size: 30px; */
  animation: ease-in-out;
  /* color: #3498DB; */
}



.center-container {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 45px;
  /* margin-right: 5rem;  */
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 400px;
}

.profile_pic img {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  border: 0px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

.details {
  font-weight: bold;
margin-top: 1.5rem;
  text-align: center;
  font-size: 15px;
} 