@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
    scroll-behavior: smooth;
}

/* profile piuc css */
.profilepicclass a img{
    width: 30px;
    border-radius: 50%;
  }


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.addbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.deletebtn{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: emoji;
}

.deletebtn:hover{
    color: white;
    background-color: red;
}

body {
    /* background-image: url(img/crousel/wallpaperflare.com_wallpaper.jpg); */
    background-image: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1);
    scroll-behavior: smooth;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0px;
}

#churchLogo {
    width: 25px;
    margin-right: 10px;
}

/* name css */
.name {
    display: flex;
    position: absolute;
    /* top: 25px; */
    left: 40px;
    font-size: 30px;
    font-weight: bold;
    align-items: normal;
    color:white;
}

.btn2 {
    display: flex;
    position: absolute;
    margin: 0px 0 0 15px;
}



.TopOptions {
    display: flex;
    height: 80px;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.TopBar {
    position: absolute;
    /* top: 8px; */
    right: 16px;
}

.TopBar ul {
    padding-top:12px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    margin-right: 40px;
    /* margin-top: 30px; */
}

.TopBar ul li {
    list-style: none;
}

.TopBar a {
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    font-weight: 500;
}

.TopBar a:hover {
    /* font-weight: bolder; */
    /* font-size: 30px; */
    animation: ease-in-out;
    /* color: #3498DB; */
}

/* divider css */

#divider {
    height: 4px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(163, 163, 163);
}

.mainContainer {
    display: flex;
    justify-content: center;
}

/* container css */
.container {
    width: 850px;
    margin-top: 45px;
    /* margin-right: 10%; */
    height: auto;
    border: 1px solid gray;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    color:white;
}

.AnnouncmentContainer {
    display: flex;
    flex-direction: column-reverse;
}

/* .container{
    width: 66%;
} */

.announcementslist{
    list-style-type: none;
}


.title {
    padding: 7px;
    font-weight: bold;
    /* background-color: rgb(170, 96, 255); */
    font-size: 20px;
    color: white;
    text-align: center;
}


.content {
    padding: 7px;
    height: 100px;
}

.comment {
    padding: 7px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* seperator */
.seperator {
    margin: 0;
}




/* news*/
.news {
    width: 33%;
    height: fit-content;
    margin-top: 70px;
    margin-right: 7%;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
}

.news h3 {
    text-align: center;
}

.news ul li {
    list-style: none;
}


.news ul li a {
    text-decoration: none;
    color: black;

}

.news ul li a:hover {
    font-size: 20px;
    color: #3498DB;
}

.news ul {
    margin: 0;
    padding: 20px;
}

#readMore {
    width: 100%;
    height: 45px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


#readMore:hover {
    background-color: #3498DB;
    color: white;
}

