@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: 'Inter', sans-serif;
  transition: 0.3s;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.addbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.addbtn {
  border-radius: 10px;
}

body {
  margin: 0;
  /* background-image: url(img/profilebg2.jpg); */
  background-repeat: repeat;
  background-size: cover;
  background-image: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1);
}

/* name css */
#churchLogo {
  width: 25px;
  margin-right: 10px;
}

/* name css */
.name {
  display: flex;
  position: absolute;
  left: 40px;
  font-size: 30px;
  font-weight: bold;
  align-items: normal;
  color: white;
  top: 30px;
}

.TopOptions {
  display: flex;
  height: 80px;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.TopBar {
  position: absolute;
  /* top: 8px; */
  right: 16px;
  height: 35px;
}

.TopBar ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin-right: 40px;
  /* margin-top: 30px; */
}

.TopBar ul li {
  list-style: none;
}

.TopBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  font-weight: 500;
}

.TopBar a:hover {
  /* font-weight: bolder; */
  /* font-size: 30px; */
  animation: ease-in-out;
  /* color: #3498DB; */
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 0px;
  /* margin-right: 5rem;  */
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0px;
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 400px;
}

#deldropdown{
  float:right;
  margin-top: 1rem;
  background:none;
  border: none;
}

.profile_pic img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.25);
}

.details {
  /* font-weight: bold; */
  margin-top: 1.5rem;
  text-align: center;
  font-size: 15px;
  color: white;
}

.btn2 {
  display: flex;
  position: relative;
  margin: 25px 30px 0px 0px;
  align-self: flex-end;
  float: right;
}

#ep2{
  color: white;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
}


@media screen and (max-width:1500px) and (min-width:500px){
  .details {
    /* font-weight: bold; */
    /* margin-top: 1.5rem; */
    text-align: center;
    font-size: 15px;
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}


.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 0px;
  /* margin-right: 5rem; */
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0px;
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 515px;
  flex-direction: row;
  height: 70vh;
}

}


@media screen and (max-width:799px) and (min-width:200px){
  .name{
    display: none;
  }
}